/* global */

body {
  background: #282828;
  color: #FFF;
  text-align: center;
  font: normal 100%;
}

a, a:hover {
  color: #C5E105;
  text-decoration:none;
}


/* footer */

footer {
  color: #AAA;
  margin-top: 2%;
  margin-bottom: 1.5%;
}

footer a:hover {
  color: #AAA;
  text-decoration:underline;
}


/* header */

header {
    padding-top: 1%;
    padding-bottom: 0.5%;
}

#logo h1 a:hover {
    color: #FFF;
}


/* content */

.content {
    color: lightgreen;
    font-size: 1.2em;
}

pre {
    margin: 0%;
}

pre a {
    color: red;
}

q {
    color: transparent;
}

h4 {
  font-family: 'VT323', monospace;
}
