/* global */

body {
  background: #282828;
  color: #FFF;
  text-align: center;
}

a, a:hover {
  color: #C5E105;
  text-decoration:none;
}

/* footer */

footer {
  color: #AAA;
  margin-top: 50px;
  margin-bottom: 10px;
}

footer a:hover {
  color: #AAA;
  text-decoration:underline;
}

/* header */

header {
    padding-top: 20px;
    padding-bottom: 10px;
}

#logo h1 a:hover {
    color: #FFF;
}

/* content */

.content {
    color: lightgreen;
}

pre {
    margin: 0px;
}

pre a {
    color: red;
}

#exit a:hover{
    color: #C5E105;
}

q {
    color: transparent;
}

/* about.html */

#about_content pre {
    font-size: 1.2em;
}

/* articles.html */

#articles_content pre {
    font-size: 1.2em;
}

/* favorite.html */

#favorite_content pre {
    font-size: 1.2em;
}
